# Python Basics

## How to create  Functions in python

<br>
`Add_it ` is a function that takes two numbers and adds them together.

In [2]:
def Add_it(x, y):
    return x + y

# now lets  call the function
Add_it(1, 2)

3

<br>
updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [3]:
def Add_it(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(Add_it(1, 2))
print(Add_it(1, 2, 3))

3
6

<br>
`Add_it` updated to take an optional flag parameter.

In [4]:
def Add_it(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(Add_it(1, 2, flag=True))

Flag is true!
3

<br>
Assign function `Add_it` to variable `a`.

In [5]:
def Add_it(x,y):
    return x+y

a = Add_it
a(1,2)

3


## Types and Sequences


## Use `type` to return the object's type.

In [5]:
type('string type')

str

In [6]:
type(None)

NoneType

In [7]:
type(1)

int

In [8]:
type(1.0)

float

In [9]:
type(add_numbers)

function


Tuples are an immutable data structure (cannot be altered).

In [8]:
x = (1, 'aa', 2, 'bb')
type(x)

tuple


Lists are a mutable data structure.

In [10]:
x = [1, 'aa', 2, 'ba']
type(x)

list

<br>
Use `append` to append an object to a list.

In [11]:
x.append(3.3)
x.append("test")
print(x)

[1, 'aa', 2, 'ba', 3.3, 'test']

<br>
This is an example of how to loop through each item in the list.

In [15]:
for item in x:
    print(item)

for i in x:
    print(type(i))

1
aa
2
ba
3.3
test
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>


### Using while loop

In [16]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1
    
while( i != len(x) ):
    print(type[i])
    i = i + 1

1
aa
2
ba
3.3
test


### concatination in python

In [19]:
# 3 concatinating two lists 

[1,2 ,'a'] + [3,4,'b']

[1, 2, 'a', 3, 4, 'b']


### Use `*` to repeat lists.

In [20]:
[1,2 ,'a'] *3

[1, 2, 'a', 1, 2, 'a', 1, 2, 'a']


### Use  `in` operator to check if something is inside a list.

In [17]:
1 in [1, 2, 3]

True


### Now let's look at strings. Use bracket notation to slice a string.

In [23]:
st = 'This is a  test string'
print(st[0]) #first character
print(st[0:1]) #first character, but we have explicitly set the end character
print(st[0:2]) #first two characters
print(st[:2])
print(st[:-2])

T
T
Th
Th
This is a  test stri

<br>
This will return the last element of the string.

In [19]:
st[-1]

'g'

<br>
This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [20]:
st[-4:-2]

'ri'

<br>
This is a slice from the beginning of the string and stopping before the 3rd element.

In [21]:
st[:3]

'Thi'

<br>
And this is a slice starting from the 4th element of the string and going all the way to the end.

In [24]:
x[3:]

's is a  test string'

In [26]:
firstname = 'Kaleem'
lastname = 'Ullah'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Kaleem' in firstname)

Kaleem Ullah
KaleemKaleemKaleem
True

<br>
`split` returns a list of all the words in a string, or a list split on a specific character.

In [28]:
str_list = 'this is test string'.split(' ') 
print(str_list)


str_first = 'this is test string'.split(' ')[0] # [0] selects the first element of the lis
str_last = 'this is test string'.split(' ')[-1] # [-1] selects the last element of the list
print(str_first)
print(str_last)

['this', 'is', 'test', 'string']
this
string


### to  Concatinate convert to same type

In [29]:
kaleem' + 2

SyntaxError: EOL while scanning string literal (<ipython-input-29-f64a4369ab25>, line 1)

In [30]:
'kaleem' + str(2)

'kaleem2'


### Dictionaries associate keys with values.

In [44]:
dic = {'Kaleem Ullah': 'kalim.ullah@seecs.edu.pk', 'someone': 'someone@microsoft.com',}
dic['Kaleem Ullah'] # Retrieve a value by using the indexing operator

'kalim.ullah@seecs.edu.pk'

In [45]:
dic['someone else'] = None
dic['someone else']

<br>
Iterate over all of the keys:

In [46]:
for name in dic:
    print(dic[name])

kalim.ullah@seecs.edu.pk
someone@microsoft.com
None

<br>
Iterate over all of the values:

In [47]:
for email in dic.values():
    print(email)

kalim.ullah@seecs.edu.pk
someone@microsoft.com
None

<br>
Iterate over all of the items in the list:

In [48]:
for name, email in x.items():
    print(name)
    print(email)

Kaleem Ullah
kalim.ullah@seecs.edu.pk
someone
someone@microsoft.com
someone else
None
someone else
None


### Unpacking  sequence into different variables:

In [49]:
x = ('Kaleem', 'Ullah', 'kalim.ullah@seecs.edu.pk')
fname, lname, email = x

In [50]:
fname

'Kaleem'

In [51]:
lname

'Ullah'

<br>
Make sure the number of values you are unpacking matches the number of variables being assigned.

In [44]:
x = ('Kaleem', 'Ullah', 'kalim.ullah@seecs.edu.pk', 'extra value')
fname, lname, email = x

ValueError: too many values to unpack (expected 3)


# Some more on Strings

<br>
Python has a built in method for convenient string formatting.

In [53]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Kaleem'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Kaleem bought 4 item(s) at a price of 3.24 each for a total of 12.96

<br>
And here's an example of how to find the average hwy mpg for each class of vehicle in our dataset.


## Dates and Times

In [54]:
import datetime as dt
import time as tm

<br>
`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

In [55]:
tm.time()

1603694761.511231

<br>
Convert the timestamp to datetime.

In [56]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2020, 10, 26, 6, 46, 18, 608155)

<br>
Handy datetime attributes:

In [57]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

(2020, 10, 26, 6, 46, 18)

<br>
`timedelta` is a duration expressing the difference between two dates.

In [58]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

datetime.timedelta(100)

<br>
`date.today` returns the current local date.

In [59]:
today = dt.date.today()

In [60]:
today - delta # the date 100 days ago

datetime.date(2020, 7, 18)

In [61]:
today > today-delta # compare dates

True


# The Python Programming Language: Objects and map()

<br>
An example of a class in python:

In [6]:
class Person:
    department = 'SEECS' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [7]:
person = Person()
person.set_name('Kaleem Ullah')
person.set_location('Islamabad ')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

Kaleem Ullah live in Islamabad  and works in the department SEECS

<br>
Here's an example of mapping the `min` function between two lists.

In [8]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

<br>
Now let's iterate through the map object to see the values.

In [9]:
for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01