# The Series Data Structure

In [1]:
# lets import pandas
import pandas as pd
pd.Series?  # intro to pandas series

In [4]:
# lets make one 
animals = ['Cat ', 'dog', 'Mouse']
pd.Series(animals)  #creating a pandas series

0     Cat
1      dog
2    Mouse
dtype: object

In [5]:
# lets make a pandas number series
numbers = [4, 2, 3]
pd.Series(numbers)

0    4
1    2
2    3
dtype: int64

In [7]:
# series with None
animals = ['loin', 'cougar', None]
pd.Series(animals)

0      loin
1    cougar
2      None
dtype: object

In [8]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

###  from numpy array to  pandas series

In [10]:
import numpy as np
np.nan == None

False

In [11]:
np.nan == np.nan

False

In [12]:
np.isnan(np.nan)

True

In [14]:
sports = {'Hockey': 'Pakistan',
          'Cricket' : 'India',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Hockey          Pakistan
Cricket            India
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [16]:
#lets print the series index
s.index

Index(['Hockey', 'Cricket', 'Sumo', 'Taekwondo'], dtype='object')

In [11]:
#creating  antother  series
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [17]:
# from dictonary to Series 
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])  #add hockey if not present to series with  value NaN
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

## Accessing a Series

In [18]:
sports = {'Hockey': 'Pakistan',
          'Cricket' : 'India',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Hockey          Pakistan
Cricket            India
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [19]:
s.iloc[3]

'South Korea'

In [23]:
s.loc['Hockey']

'Pakistan'

In [21]:
s[3]

'South Korea'

In [24]:
s['Hockey']

'Pakistan'

In [25]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

In [29]:
s[101] #This won't call s.iloc[0] as one might expect, it generates an error instead

'Japan'

In [31]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [32]:
total = 0
for item in s:
    total+=item
print(total)

324.0

In [33]:
# applying numpy summ on series s
import numpy as np

total = np.sum(s)
print(total)

324.0

In [34]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

0    204
1    238
2    288
3    599
4    985
dtype: int32

In [35]:
len(s)

10000

In [ ]:
### lest compare the time it takes to calculate sum  uisng loop and and numy sum function

In [36]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

1.72 ms ± 110 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [37]:
%%timeit -n 100
summary = np.sum(s)

134 µs ± 11.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [40]:

s+=2 #adds two to each item in s using broadcasting
s.head()

0    208
1    242
2    292
3    603
4    989
dtype: int32

In [44]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

AttributeError: 'Series' object has no attribute 'set_value'

In [33]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))

for label, value in s.iteritems():
    s.loc[label]= value+2

1.52 s ± 53.1 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [32]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

360 µs ± 143 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [42]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [45]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [46]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [47]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [20]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [48]:
all_countries.loc['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object